@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Irish+Grover&display=swap');
</style>
*{
    margin:0;
    padding:0;
    font-family:"josefin slab", serif;
}
body{
    margin:25px;
}
header{
    display:flex;
    justify-content: space-between;
}
header nav{
    width:300px;
    height:600px;
    box-shadow:0px -5px 5px 2px #00000020;
    position:absolute;
    top:0;
    right:0;
    background:white;
}
header nav li{
    list-style:none;
    margin-bottom:7px;
    padding:10px;
}
header nav li a{
    text-decoration:none;
    transition:border 0.5s ease-in-out;
    color:#ffd000;
    font-weight:bold;
}
header nav li a:hover{
    border-bottom:2px solid #ffd000;
}
.esconder{
    display:none;
}
.ativo{
    display:block;
}
.fecharMenu{
    position: absolute;
    right:10px;
    top:10px;
    background:#FFD000;
    color:#fff;
    font-weight: bold;
    padding:2px 7px;
    border-radius:50%;
    text-decoration: none;
}
main .container{
    width:100%;
    padding:0 20px;
}
main .container .destaque{
    width:100%;
}
main .container .destaque img{
     width:100%;
}
main .container .destaque .links{
     display:flex;
     width:100%;
}
main .container .detaque .links a{
     background:yellow;
     display:block;
     padding:15px 21px;
     font-size:25px;
     font-weight:bold;
     text-transform:uppercase;
     text-decoration:none;
     text-align:center;
     color:#fff;
     width:50%;
}
main .container .destaque .links a:nth-child(2){
     background:#ffd000;
}
.popular h2{
     font-family:"Irish Grover", system-ui;
     font-size:24px;
     color:#55dd07;
     text-align:center;
     margin:10px 0;
}
.popular ul li[
     display:flex;
     align-items:center;
     margin:10px;
]
.popular ul li .imagem-destaque{
     width:100%;
}
.popular ul li .imagem-destaque img{
     width:100%;
     box-shadow:7px 7px 0px 2px #d55d07;
     border-top-left-radius:30px;
     border-top-right-radius:30px;
}
.popular ul li .descricao{
     margin-left:15px;
}
.popular ul li .descricao h3{
     color:#ffe53a;
     font-size:24px;
}
.popular ul li .decricao p{
     line-height:22px;
     margin:10px;
}
.popular ul li .descrição a{
     background:#d55d07;
     color:#ffe53a;
     padding:7px 15px;
     border-radius:10px;
     text-decoration:none;
     margin-top:15px;
}
.popular ul li a:hover{
     background:#ffe53a;
     color:black;
}
